.vs/
x64/
ChemInk/x64/
ChemInk/android/
ChemInk/GeneratedFiles/
ChemInk/script/
ChemInk/third_party/
*.aps
*.dll
*.lib
*.exe
*.json
*.weights
*.bin
*.xml
*.mapping
*.dat
*.txt
*.prm
*.labels
*.cfg
*tmp*
*.rar
